@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #34307f81;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #34307f81;
}

html {
  background-color: #f8f8fe;
}

body {
  overflow-x: hidden;
  background-color: #f8f8fe;
}

h1,
h2,
p {
  color: #3e3d3d;
}
